:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(0, 0%, 42%);
    --grey-950: hsl(0, 0%, 7%);
}

/* Regular (normal weight 400) */
@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* variable font axes range */
  font-style: normal;
  font-display: swap;
}

/* Italic variable */
@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

html {
    /* font-family: 'Figtree', system-ui, -apple-system, Segoe UI, Roboto, sans-serif; */
    font-family: 'Figtree';
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--white);
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1.6px solid black;
    box-shadow: 0.5rem 0.5rem 0 black;
}

.blog-pic {
    border-radius: 0.75rem;
    margin: 16px;
}

.profile {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.profile-pic {
    width: 2rem;
}

.profile-name {
    margin-left: 16px;
    font-weight: 800;
    color: var(--grey-950);
}

.title {
    font-weight: 800;
    color: var(--grey-950);
    margin: 0px 16px 8px 16px;
}

.summary {
    font-weight: 500;
    color: var(--grey-500);
    margin-left: 16px;
}

.tag {
    background-color: var(--yellow);
    margin-left: 16px;
    font-weight: 800;
    padding: 8px;
    border-radius: 0.25rem;
    max-width: 5rem;
    text-align: center;
}

.date {
    margin: 16px
}