:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(0, 0%, 42%);
    --grey-950: hsl(0, 0%, 7%);
}

/* Regular (normal weight 400) */
@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* variable font axes range */
  font-style: normal;
  font-display: swap;
}

/* Italic variable */
@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

html {
    /* font-family: 'Figtree', system-ui, -apple-system, Segoe UI, Roboto, sans-serif; */
    font-family: 'Figtree';
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--white);
    max-width: 247px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1.6px solid black;
    box-shadow: 0.5rem 0.5rem 0 black;
}

@media (width >= 374px) {
    main {
        max-width: 327px;
    }
}

@media (width > 457px) {
    main {
        max-width: 384px;
    }
}

.blog-pic {
    border-radius: 10px;
    width: 100%;
    margin: 0 0 16px 0;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 2rem;
}

.profile-name {
    margin-left: 16px;
    font-weight: 800;
    color: var(--grey-950);
}

.title {
    font-weight: 800;
    color: var(--grey-950);
    margin: 16px 0 16px 0;
}

.title:hover{
    color: var(--yellow);
    cursor: pointer;
}

.summary {
    font-weight: 500;
    color: var(--grey-500);
}

.tag {
    background-color: var(--yellow);
    color: var(--grey-950);
    display: block;
    font-weight: 800;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
    max-width: 5rem;
    text-align: center;
    margin: 8px 0px 16px 0px;
}

.date {
    color: var(--grey-950);
    font-weight: 500;
    margin: 16px 0 16px 0;
    display: block;
}

.container {
    padding: 24px;
}